:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --status-pink: #f6dada;
}

body {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  min-width: 1460px;
  padding: 0;
  padding-top: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

a:visited {
  color: var(--basic-black);
}



.main-header {
  background-color: var(--special-yellow);
  color: var(--basic-black);
}

.nav {
  color: var(--basic-grey);
}

.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.write-us {
  display: none;
}
.map-popup {
  display: none;
}
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}