:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #00000;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --status-pink: #f6dada;
}

body {

  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);


}
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
